/*TABLET*/
@media screen and (min-width:768px) {
/*servicio*/

    .serviciosP {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;

        .serviciosRh {
            padding: 0;

            img {
                margin-top: 0em;
                margin-bottom: 3em;
                margin-left: 5em;
                width: 15em;
                height: 10em;
            }
        }
    }
    /*cursos*/
    .cursoUno {
        margin: 1.5em 5em -10em 5em;
        padding: 0em;

        .imgcursoUno {
            width: 16em;
            height: 10em;
            margin-top: 0em;
        }

        .parrafocursoUno {
            grid-area: parrafocursoUno;
            margin-top: -1em;
        }
    }
    
    .cursoDos {
        margin: -10em 5em -10em 5em;
        padding: 0;
    
        .parrafocursoDos {
            grid-area: parrafocursoDos;
            margin-top: -1em;
        }

        .imgcursoDos {
            width: 16em;
            height: 10em;
            margin-top: 0em;
        }
    }
    /*formulario*/

    .nombreC, .correoC, .contraC {
        height: 100%
    }

    .enviarC {
        height: 120%
    }

    .grillaMapa {
        margin-left: 5em;

        .mapa {
            height: 23em;
            width: 23em;
            margin-bottom: 5em;
        }
    }
}

/*PC*/
@media screen and (min-width:1024px) {
    /*servicio*/
    .serviciosP {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 1em;

        .serviciosRh {
            padding: 1em;

            img {
                margin-top: 0.5em;
                margin-left: 4em;
                @include    sizes(15em, 15em);
            }
        }
    }

    /*cursos*/

    .cursoUno {
        height: 100%;
        margin: 1em 1.5em 1em 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "imgcursoUno titulocursoUno titulocursoUno"
            "imgcursoUno parrafocursoUno parrafocursoUno"
            "imgcursoUno linkCursod linkCursod";

        .imgcursoUno {
            grid-area: imgcursoUno;
            width: 20em;
            height: 15em;
            margin-top: 3em;
        }
            
        .titulocursoUno {
            grid-area: titulocursoUno;
        }
    
        .parrafocursoUno {
            grid-area: parrafocursoUno;
            margin-top: -4em;
        }
        .linkCursod {
            grid-area: linkCursod;
            display: flex;
            flex-direction: row;
            justify-content: end;
            list-style-type: none;
            margin-bottom: 1em;
        }
    }

    .cursoDos {
        height: 100%;
        margin: -3em 0.5em -4em 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "titulocursoDos titulocursoDos imgcursoDos"
            "parrafocursoDos parrafocursoDos imgcursoDos "
            "linkCursoi linkCursoi imgcursoDos ";
        .imgcursoDos {
            grid-area: imgcursoDos;
            width: 20em;
            height: 15em;
            margin-top: 3em;
        }
        
        .titulocursoDos {
            grid-area: titulocursoDos;
        }
        
        .parrafocursoDos {
            grid-area: parrafocursoDos;
            margin-top: -4em;
        }
        .linkCursoi {
            display: flex;
            flex-direction: row;
            justify-content: start;
            list-style-type: none;
            margin-bottom: 1em;
            margin-left: 0em;
        }
    }

    /*busquedas*/

    .bannerBusqueda {
        height: 23em;

        .linkCv {
            margin-left: 2em;
            margin-top: -2em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;

            .buscadorV {
                width: 60em;
            }
        }   
    }

    /*contacto*/

    .grillaF {
        margin: 1% 32% 1% 32%;
        grid-gap: 0.5em;
        padding: 0;

        .nombreC, .correoC, .contraC {
            height: 70%
        }

        .enviarC {
            height: 90%
        }
    }

    /*footer*/

    .redes {
        margin: 0em 9em 0em 5em;
        padding: 1em;

        .pieP {
            padding: 2em;
            margin-left: 2em;
            margin-right: 2em;
            
            .icon {
                width: 3em;
                height: 3em;
                margin-left: 5.5em;
                margin-bottom: 1.5em;
            }

            a {
                padding: 5em;
            }
        }
    }
}